
.artistas-body {
    background-color: #181818;
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0px;
  }
  
  #menuLateral {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 263px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #000000;
    background-repeat: no-repeat;
  }
  
  #abas {
    margin-top: 75px;
  }
  
  #menuLateral div {
    color: #ccc;
  }
  
  #logoBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #menuLateral #logo {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
  
  #artistasBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bolder;
    height: 40px;
  }

  #artistasBox:hover{
    background-color: #181818;
    cursor: pointer;
  }

  #playlistDiariaBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 40px;
  }

  #playlistDiariaBox:hover{
    background-color: #181818;
    cursor: pointer;
  }

  #minhaContaBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 40px;
  }

  #minhaContaBox:hover{
    background-color: #181818;
    cursor: pointer;
  }
  
  #musicasCurtidasBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 40px;
  }

  #musicasCurtidasBox:hover{
    background-color: #181818;
    cursor: pointer;
  }
  
  #logoutBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 40px;
    margin-bottom: 75px;
  }

  #logoutBox:hover{
    background-color: #181818;
    cursor: pointer;
  }
  
  #cardPrincipal {
    display: flex;
    flex-direction: column;
    width: 1250px;
    height: 700px;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    left: 17.5%;
  }
  
  #cardPrincipal #banner {
    background-color: #313131;
    border-radius: 10px;
    width: 196px;
    height: 280px;
  }
  
  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #banner:hover{
    cursor: pointer;
  }
  
  #banner img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    bottom: 25px;
  }
  
  #cardPrincipal #categoria {
    color: #ccc;
    position: relative;
    top: 20px;
    font-size: medium;
    font-weight: 600;
  }
  
  #cardPrincipal #artistaNome {
    color: #fff;
    position: relative;
    font-size: large;
    font-weight: 600;
  }
  
  #titulo {
    position: relative;
    right: 515px;
    top: 30px;
    height: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
  }
  
  #artistasColuna1 {
    display: flex;
    flex-direction: row;
    width: 1150px;
    justify-content: space-between;
  }
  
  #artistasColuna2 {
    display: flex;
    flex-direction: row;
    width: 1150px;
    justify-content: space-between;
  }
  
  #icones {
    font-size: 20px;
    margin-right: 3.5px;
    position: relative;
    top: 3.5px;
  }

  #banner a{
    text-decoration: none;
  }
  